{% extends 'GuBruJeMusicalBundle::layout.html.twig' %}

{% block musical_body -%}
    <h1 class="page-header">Information</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ entity.contenu }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ entity.auteur }}</td>
            </tr>
        </tbody>
    </table>

        <a class="btn-default btn" href="{{ path('homepage') }}">
            Retour
        </a>
{% endblock %}
